                <form class="album-zoek-form" id="album-zoek-form" onsubmit="event.preventDefault()">

                    <label class="album-zoek-lab" for="album-zoek-inp"> Album Zoeken: </label>

                    <div class="search-opt-cont" id="search-opt-cont">

                        <div class="search-opt-naam-cont">
                            <label class="search-opt-naam-lab" for="album-zoek-naam-inp"> Naam: </label> <br>
                            <label class="album-zoek-naam" id="album-zoek-naam" for="album-zoek-naam-inp">
                                <input class="album-zoek-naam-inp" id="album-zoek-naam-inp" type="checkbox" />
                                <span class="album-zoek-naam-slider"> </span>
                            </label>
                        </div>

                        <div class="search-opt-albNr-cont">
                            <label class="search-opt-albNr-lab" for="album-zoek-nr-inp"> Album Nr: </label> <br>
                            <label class="album-zoek-nr" id="album-zoek-nr" for="album-zoek-nr-inp">
                                <input class="album-zoek-nr-inp" id="album-zoek-nr-inp" type="checkbox" />
                                <span class="album-zoek-nr-slider"></span>
                            </label>
                        </div>

                        <div class="search-opt-isbn-cont">
                            <label class="search-opt-isbn-lab" for="album-zoek-isbn-inp"> Album Isbn: </label> <br>
                            <label class="album-zoek-isbn" id="album-zoek-isbn" for="album-zoek-isbn-inp">
                                <input class="album-zoek-isbn-inp" id="album-zoek-isbn-inp" type="checkbox" />
                                <span class="album-zoek-isbn-slider"></span>
                            </label>
                        </div>

                    </div>

                    <label class="modal-form-label" for="album-zoek-inp">
                        <input class="modal-form-input" id="album-zoek-inp" type="text" placeholder="" />
                        <span class="modal-form-span" id="album-zoek-span"> Zoek naar albums.. </span>
                    </label>
                    
                </form>