/* Set menu grid size to match desktop screen ratio */
.banner-container { grid-template-columns: 9rem auto; }

/* Title text size and margin to center the text */
.title-text {
    font-size: 2.2em;
    margin-right: 9rem;
}

/* Desktop has enough space to make it inline */
.contr-cont { display: inline-grid; }

/* Place items vertically and align both vertically and horizontally */
.footer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.2em;
    height: 7vh;
}