/* Adjust the banner header font size */
.header-text {
    font-size: 1.4em;
}

/* Better fitting font-size for mobile */
.content-header {
    font-size: 1.1em;
}

/* Adjust footer text font size */
.sub-grid-4 {
    font-size: 0.7em;
}

/* Pop-in specific stuff */
.modal-content-cont {
    top: 5em;
}

/* Adjust the feedback container size, so its look more normal */
.message-container {
    left: 10%;
    right: 10%;
}

/* Specific to view details for he user */
#modal-info-content {
    overflow: unset;
}

.modal-body, .extra-info-tafel, .extra-info-tafel tbody {
    width: 97%;
    display: block;
    padding: 0.2em;
}

.first-data-set, .second-data-set, .third-data-set, .fourth-data-set, .fith-data-set {
    display: grid;
    grid-template-areas: "title value";
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.first-data-name, .second-data-name, .third-data-name, .fourth-data-name, .fith-data-name {
    grid-area: title;
    border: var(--main-border-body);
    padding: 0.2em 0;
}

.first-data-val, .second-data-val, .third-data-val, .fourth-data-val, .fith-data-val {
    grid-area: value;
    border: var(--main-border-body);
    padding: 0.2em 0;
    font-weight: normal;
}

.album-info-cover {
    height: 4em;
    width: 3.3em;
}


/* Changes specific to normal orientation */
@media only screen and not (orientation: landscape) {
    /* Adjust grid area size to make sense */
    .sub-grid-1 {
        grid-template-columns: 20% 80%;
    }

    /* Set width to auto to prevent scaling issues */
    .logoff-butt {
        width: auto;
        padding: 0.2em;
    }

    /* There is not need for a margin adjust on this screen size */
    .header-text {
        margin-right: 0;
    }

    /* The controller sub-grid */
    .sub-grid-2 {
        grid-template-areas: "cont1" "cont2" "cont3";
        grid-template-columns: 100%;
        grid-template-rows: 34% 46% 20%;
        grid-row-gap: 0.2em;
        row-gap: 0.2em;
    }

    /* Remove white space from serie select controller */
    .contr-cont-1 {
        height: 5em;
        margin-right: 0;
        margin-bottom: 2em;
    }

    /* Remove white space from scanner controller */
    .contr-cont-3 {
        height: 3.2em;
        margin-left: 0;
    }

    /* Give the grid almost the entire screen width */
    .sub-grid-3 {
        grid-template-columns: 95%;
    }

    /* Remove less relevant album table titles */
	.albumOpmTitle, .albumCovTitle, .albumUitTitle {
        display: none;
    }

    /* Remove less relevant album table columns */
	.album-opm, .album-cover, .album-uitgdt {
        display: none;
    }

	/* Adjust flex direction for the footer content */
    .footer-info-1, .footer-info-2, .footer-info-3 {
        flex-direction: inherit;
    }

    /* Pop-in specific stuff */
}

/* Changes specific to landscape orientation */
@media only screen and (orientation: landscape) {
    /* Adjust grid area size to make sense */
    .sub-grid-1 {
        grid-template-columns: 15% 85%;
    }

    /* The into text sub-grid */
    .sub-grid-2 {
		grid-template-areas: "cont1" "cont2";
		grid-template-columns: 100%;
		grid-template-rows: auto auto;
    }

    /* First controller container */
    .contr-cont-1 {
        grid-area: cont1;
        margin-right: 43%;
    }

    /* Second controller container */
    .contr-cont-2 {
        grid-area: cont1;
        margin-left: 43%;
    }

    /* Third controller container */
    .contr-cont-3 {
        grid-area: cont2;
        margin-top: 0.2em;
        height: 3em;
    }

    /* The table grid for showing albums in a serie */
    .sub-grid-3 {
        grid-template-columns: 75%;
        justify-items: center;
    }
    
    /* Remove less relevant album table titles */
	.albumOpmTitle {
        display: none;
    }

    /* Remove less relevant album table columns */
	.album-opm {
        display: none;
    }

	/* Change the flex direction of the footer text */
    .footer-info-1, .footer-info-2, .footer-info-3 {
        flex-direction: row;
    }
    
    /* Pop-in specific stuff */
    /* Make the pop-in fit better on screen */
	.modal-content-cont {
        top: 0.5em;
    }

    /* The pop-in body */
	.modal-body {
		max-height: 21em;
		overflow: auto;
	}
    
    /* Make the list items overflow and scrollable */
	.modal-ord-list {
        overflow: scroll;
    }
}