/* Changes regardless of orientation */
/* Slight adjustment for text size and paragraph width */
.text-content-container h2 { font-size: 1.6em; }
.text-content-container p { width: 70vw; }
.footer { text-align: center; }

/* Changes specific to normal orientation */
@media only screen and not (orientation: landscape) {
    /* Create a smaller column for the banner buttons */
    .banner-container { grid-template-columns: 6rem auto; }

    /* Place buttons above each other instead of besides each other */
    .title-buttons {
        display: flex;
        flex-direction: column;
    }

    /* Change the title-text margin, to match the new column width */
    .title-text { margin-right: 6rem; }

    /* Give imgaes a fixed size, since scaling based on screen width doesnt seem to work well */
    .example-container img {
        width: 10em;
        height: 12em;
    }
}

/* Changes specific to landscape orientation */
@media only screen and (orientation: landscape) {
    /* Adjust the title-text margin slightly, so it's in the middle */
    .title-text { margin-right: 12rem; }
} 

