/* Set menu grid size to match desktop screen ratio */
.banner-container { grid-template-columns: 9rem auto; }

/* i-Pad has enough space to make it inline, if i set the columns to auto */
.contr-cont {
    display: inline-grid;
    grid-template-columns: auto;
}

/* Changes specific to normal orientation */
@media only screen and not (orientation: landscape) {
    /* Non required atm, waiting on user feedback */
}

/* Changes specific to landscape orientation */
@media only screen and (orientation: landscape) {
    /* Slightly adjust the title-text to center it a bit more */
    .title-text { margin-right: 2em; }
}