.banner-container {
    grid-template-columns: 6.5rem auto;
    height: 10vh;
}

.title-text {
    font-size: 1.6em;
    margin-right: 6.5rem;
}

.contr-cont { grid-template-columns: auto; }
.serie-sel-subm, .album-zoek-subm { height: 2em; }
.album-tafel th { font-size: 0.9em; }
.footer { display: flex; }

.footer p {
    display: inline-block;
    font-size: 0.875em;
    padding: 1em;
}

/* Changes specific to normal orientation */
@media only screen and not (orientation: landscape) { }

/* Changes specific to landscape orientation */
@media only screen and (orientation: landscape) { }