/* All styles specifically for the landing-page, going from the top down */
.content-container {
    display: grid;
    margin: 0.1EM 0.2EM;
}
  
.title-banner {
    background: var(--main-banner-color);
    border-radius: 0.2EM;
}
  
.title-text {
    position: inherit;
    font-size: 2.2em;
}

.button-container {
    display: flex;
    justify-content: center;
}

.butt-box {
    display: inline-flex;
    justify-content: center;
    margin: 1em 1.5em;
}
  
.reg-modal-butt, .log-modal-butt, .modal-gebr-ov-button {
    display: block;
    width: 4.375em;
    padding: 0.7em;
    color: var(--main-fade-fallback-color);
    background: var(--main-butt-color);
    border: 0.125em solid var(--main-fade-background-color);
    border-radius: 1.25em/1.875em;
    text-decoration: none;
    cursor: pointer;
}
.reg-modal-butt:hover, .log-modal-butt:hover, .modal-gebr-ov-button:hover {
    background: var(--main-butt-hover);
}
  
.example-container {
    display: flex;
    justify-content: center;
}
  
.picture-set {
    display: flex;
    flex-wrap: wrap;
    max-width: 51em;
}
  
.footer {
    display: flex;
    justify-content: center;
    background: var(--main-banner-color);
    border-radius: 0.2em;
    margin: 0.1EM 0.2EM;
}

.footer-content {
    margin: 0.625em;
}

.footer-autheur, .footer-date, .footer-madefor {
    display: inline-block;
    font-weight: bold;
    font-size: 0.875em;
    padding: 1em;
}