/* Landingpage Banner content */
.banner-container {
    display: grid;
    grid-template-areas: 'menu title-text';                         /* Define the grid */
    background-color: var(--main-banner-color);
    border-radius: var(--main-border-radius);
    margin: var(--main-page-margin);
    align-items: center;                                            /* To ensure its childeren are horizontally positioned */
    z-index: 1;
}

/* Set the button & title container to right grid area */
.title-buttons { grid-area: menu; }
.title-banner { grid-area: title-text; }

/* Style the <a> element to look like a <button>, and give it a onHover color */
.title-buttons a {
    display: flex;                                                  /* So i can use align-items and justify-content */
    color: var(--main-fade-fallback-color);
    background: var(--main-butt-color);
    border: 0.125em solid var(--main-fade-background-color);
    border-radius: 1.25em/1.875em;
    text-decoration: none;
    cursor: pointer;
    width: 5em;                                                     /* Fixed size because its going to scale otherwhise. */
    height: 1.5em;                                                  /* Fixed size because its going to scale otherwhise. */
    margin: 0.3em;                                                  /* Create space between the buttons */
    align-items: center;                                            /* Position text horizontally */
    justify-content: center;                                        /* Position text vertically */
}
.title-buttons a:hover { background: var(--main-butt-hover); }

/* Align the title text to the center of the grid */
.title-text { text-align: center; }

/* The landingpage text  content */
.text-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* De landings pagina voorbeeld images */
.example-container {
    display: grid;                                                  /* Create another sub-grid */
    grid-template-areas:                                            /* Define the area for the images */
        'img-1 img-2 img-3'
        'img-4 img-5 img-6';
    justify-content: center;                                        /* Center the elements insdie the grid */
    margin: var(--main-page-margin);
}

/* Asign each element to the sub-grid area */
.img-1 { grid-area: img-1; }
.img-2 { grid-area: img-2; }
.img-3 { grid-area: img-3; }
.img-4 { grid-area: img-4; }
.img-5 { grid-area: img-5; }
.img-6 { grid-area: img-6; }

/* Create spacing between each element */
.img-1, .img-2, .img-3, .img-4, .img-5, .img-6 { margin: 0.5em; }

/* De footer elementen */
.footer {
    justify-content: center;                                    /* Align content to the center horizontally */
    align-items: center;                                        /* Alight items to the center vertically */
    background-color: var(--main-banner-color);
    border-radius: var(--main-border-radius);
    margin: var(--main-page-margin);
    height: 5em;                                                /* Fixed height to give it some body */
}

.footer p {
    font-weight: bold;
    margin: 0.2em;
    padding: 0.2em;
}