.banner-container {
    grid-template-columns: 6.5rem auto;
    height: 15vh;
}

.logoff-butt { font-size: 0.8em; }

.title-text {
    font-size: 1.6em;
    margin: 0;
}

.contr-cont { grid-template-columns: auto; }

.serie-sel-cont, .album-zoek-cont {
    font-size: 0.8em;
}

.serie-sel { font-size: 0.7em; }

#album-zoek-inp {
    height: 1em;
    font-size: 1.0em;
    margin: 0.4em;
}

.serie-sel-subm {
    height: 1.4em;
    font-size: 1.1em;
    margin: 0.2em;
}

.gebr-weerg-cont h2 { font-size: 1.2em; }
.album-tafel th { font-size: 0.7em; }

.footer {
    display: flex;
    flex-direction: column;
}

.footer p {
    text-align: center;
    font-size: 0.6em;
    padding: 0.2em;
    margin: var(--main-page-margin);
}

/* Changes specific to normal orientation */
@media only screen and not (orientation: landscape) { }

/* Changes specific to landscape orientation */
@media only screen and (orientation: landscape) { }