/* All pop-in related styles, starting with the main container, that triggers visibility */
.modal-container {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: var(--main-fade-background-color);
    visibility: hidden;
    overflow: auto;
    text-align: center;
    text-wrap: balance;
}
.modal-container:target {
    visibility: visible;
}

.modal-content-container {
    display: inline-flex;
    position: relative;
    flex-direction: column;
    top: 5em;
    background-color: var(--main-background-color);
    min-width: 15em;
    max-width: 20em;
    border-radius: 1em;
    text-align: center;
    text-wrap: balance;
    align-items: center;
}

.modal-header {
    display: inline-flex;
    position: relative;
    justify-content: center;
    border-radius: 1em;
    margin: 0.15em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: var(--main-banner-color);
    text-align: center;
    text-wrap: balance;
    width: -webkit-fill-available;
}

.modal-header-text {
    font-size: 1.6em;
    color: var(--main-text-color);
}
  
.modal-header-close {
    position: relative;
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
    color: var(--main-text-color);
    padding-left: 0.3em;
    padding-top: 0.6em;
}
.modal-header-close:hover {
    color: var(--main-link-hover);
    cursor: pointer;
}
  
.modal-header-text-overk {
    position: inherit;
    font-size: 1.8em;
    bottom: 0.1em;
    color: var(--main-text-color);
    margin: 0.2em;
}

.modal-body {
    display: contents;
    top: 0.1em;
}

.modal-body-p {
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.modal-form {
    display: inline-grid;
    align-self: center;
    justify-items: center;
    margin: 0.3em;
    width: 15em;
}

/* Labels for input fields */
.modal-form-label {
    position: relative;
    display: inline-grid;
    justify-items: center;
    height: 2.5em;
    margin: 0.2em;
}

/* Form inputs nested inside the label */
.modal-form-input {
    text-align: center;
    width: 14em;
    height: 1.3em;
    margin: 0.3em;
    padding: 0.4em;
}

/* The span that has the placeholder text */
.modal-form-span {
    font-size: small;
    display: block;
    position: relative;
    bottom: 2.1em;
    transition: 0.2s;
    opacity: 0.5;
    width: 14em;
}

/* Some animation magic to make the label/input and span work together */
.modal-form-input:focus + .modal-form-span, .modal-form-input:not(:placeholder-shown) + .modal-form-span {
    opacity: 1;
    transform: scale(0.9) translate(-100%) translateX(100%) translateY(-1.5em);
    color: white;
    background-color: rgb(73, 43, 243);
}

/* IE support ? */
.modal-form-input:focus + .modal-form-span, .modal-form-input:not(:-ms-input-placeholder) + .modal-form-span {
    opacity: 1;
    transform: scale(0.75) translate(-100%) translateX(100%) translateY(-1.5em);
    color: white;
    background-color: rgb(73, 43, 243);
}

/* Date input fixed size to make things look nicer */
#albumt-form-alb-date, #albumb-form-alb-date { height: 1em; }

/* Style a label for the cover image, to look like a submit button */ 
.modal-form-alb-cov-lab {
    background-color: var(--main-butt-color);
    font-size: small;
    border: 0.1em solid black;
    border-radius: 0.5em;
    display: inline-block;
    padding: 0.4em;
    margin-bottom: 0.3em;
    cursor: pointer;
}
.modal-form-alb-cov-lab:hover {
    background-color: var(--main-butt-hover);
    cursor: pointer;
}

/* Remove the file name behind the file input field for adding and editing album covers */
#albumt-form-alb-cov { display: none; }
#albumb-form-alb-cov { display: none; }

/* A preview container for the actual cover image if present */
.modal-album-cover-img {
    height: 7.4em;
    width: 6.4em;
    margin: 0;
}

/* Set size for the Album view, so it doesnt go out of bounds */
#beheer-albView-content-container { max-width: 100%; }

.modal-agree-container {
    display: inline-grid;
    justify-content: center;
    margin: 0.3em;
}
  
.modal-form-checkbox {
    display: inline;
    position: inherit;
    top: 0.15em;
}
.modal-form-checkbox:hover { cursor: pointer; }
  
.modal-form-agree-text { font-size: 0.8em; }

.modal-form-link {
    margin: 0.3em;
    font-size: 0.8em;
    text-decoration: none;
}
.modal-form-link:hover {
    color: var(--main-link-hover);
    cursor: pointer;
}

.modal-form-button {
    Background-color: var(--main-butt-color);
    Height: 2.5em;
    Width: 10em;
    Font-size: 1em;
    Border-radius: 0.5em;
    Margin: 0.3em;
}
.modal-form-button:hover {
    background-color: var(--main-butt-hover);
    cursor: pointer;
}

.modal-para-1 { font-size: 1em; }
  
.modal-ord-list {
    font-size: 0.8em;
    margin: 0.1em;
}
  
.modal-list-i1, .modal-list-i2, .modal-list-i3 {
    margin: 0.1em;
    padding: 0.1em;
}
.modal-list-i1::marker, .modal-list-i2::marker, .modal-list-i3::marker {
    font-style: italic;
    font-weight: bold;
}

/* User-agreement stuff */
.modal-gebr-ov-button {
    display: block;
    width: 4.375em;
    padding: 0.7em;
    color: var(--main-fade-fallback-color);
    background: var(--main-butt-color);
    border: 0.125em solid var(--main-fade-background-color);
    border-radius: 1.25em/1.875em;
    text-decoration: none;
    cursor: pointer;
}
.modal-gebr-ov-button:hover { background: var(--main-butt-hover); }

.butt-box {
    margin: var(--main-page-margin);
    padding: 0.2em;
}

/* Later entries, added during the 2.0 version */
/* Form content container to align the main content */
.modal-form-content-cont {
    display: inline-flex;
}

/* ISBN lookup button image */
.modal-form-isbn-triger {
    background-image: url("/images/refresh-button.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 2.4rem;
    width: 2.4rem;
    border: unset;
}

/* fake triggers to align items */
.modal-form-fake-triger {
    background: white;
    height: 2.5rem;
    width: 2.5rem;
    border: unset;
}

/* fake extra trigger to align items with a image preview */
.modal-form-fake-extraTriger {
    height: 7.4rem;
    width: 2.5rem;
    border: unset;
}