/* Root variables for global page styling */
:root {
	/* Main page styles */
	--main-backgr-col: rgba(94, 158, 255, 1);
	--main-margin: 0.1em;
	--main-padding: 0.1em 0.2em;
	/* Text variables */
	--main-text-margin: 0.2em 0.3em;
	--main-text-color: rgb(0, 0, 0);
	/* Border styles */
	--main-border-body: solid 0.1em rgba(0, 0, 0, 1);
	--main-border-rad: 0.4em;
	/* Banner color */
	--main-banner-col: rgba(94, 158, 255, 1);
	/* Button related styles */
	--main-butt-col: rgba(94, 125, 255, 1); 
	--main-butt-hov: rgba(59, 185, 42, 1);
	/* Label (placeholder) related styles */
	--main-lab-col-1: rgba(255, 255, 255, 1);
	--main-lab-col-2: rgba(73, 43, 243, 1);
	/* Slider related styles */
	--main-knob-col: rgba(163, 163, 163, 1);
	--main-slid-backgr: rgba(199, 37, 37, 1);
	--main-slid-backgr-2: rgba(59, 185, 42, 1);
	/* Pop-in Variables */
	--main-pop-in-col: rgba(255, 255, 255, 1);
	--main-backgr-fade: rgba(0, 0, 0, 0.4);
	--main-backgr-fallb: rgb(0, 0, 0);
}
/* Wildcard selector, to reset some user agent styles */
* { padding: 0; margin: 0; box-sizing: unset; }
/* Main container styles, starting with a flex layout */
.main-flex { display: flex; flex-direction: column; margin: var(--main-margin); padding: 0; font-family: Arial, sans-serif; text-align: center; }
/* First sub-grid, for all header\banner content */
.sub-grid-1 { display: grid; grid-template-areas: "buttons header"; grid-template-columns: 10% 90%; border: var(--main-border-body); border-radius: var(--main-border-rad); background-color: var(--main-backgr-col); align-items: center; justify-content: center; padding: 0.2em; height: 4em; }
/* The header\banner button area, flex for better positioning */
.banner-butt { grid-area: buttons; display: flex; flex-direction: column; align-items: center; justify-content: center; }
/* The header\title container */
.banner-head { grid-area: header; }
/* The header text, adjust to the right to center it on screen */
.header-text { margin-right: 10%; }
/* The controller sub-grid */
.sub-grid-2 { display: grid; grid-template-areas: "cont1 cont2 cont3"; grid-template-columns: auto 50% auto; padding: var(--main-padding); margin-top: 0.2em; }
/* Assign container to sub-grid */
.contr-cont-1 { grid-area: cont1; background-color: var(--main-pop-in-col); }
/* Assign container to sub-grid */
.contr-cont-2 { grid-area: cont2; background-color: var(--main-pop-in-col); }
/* Assign container to sub-grid */
.contr-cont-3 { grid-area: cont3; background-color: var(--main-pop-in-col); }
/* The table content sub-grid  */
.sub-grid-3 { display: grid; grid-template-areas: "header" "table-templ"; grid-template-columns: 50%; grid-template-rows: auto auto; justify-content: center; justify-items: center; margin: 0.2em 0; }
/* Assign containers to sub-grid */
.table-header { grid-area: header; }
.table-templ { grid-area: table-templ; }
/* The footer sub-grid container */
.sub-grid-4 { display: flex; flex-direction: column; background-color: var(--main-backgr-col); border: var(--main-border-body); border-radius: var(--main-border-rad); margin-top: 0.2em; }
/* The footer text line containers */
.footer-info-1, .footer-info-2, .footer-info-3 { display: flex; flex-direction: row; justify-content: center; margin: var(--main-margin); }
/* The footer text container */
.footer-version, .footer-autheur, .footer-creation, .footer-release, .footer-madefor { margin: var(--main-text-margin); }
/* Repeating button styles */
.button { margin: var(--main-margin); background-color: var(--main-butt-col); border: var(--main-border-body); border-radius: var(--main-border-rad); text-decoration: none; color: var(--main-text-color); cursor: pointer; }
/* Repeating button hover styles */
.button:hover { background-color: var(--main-butt-hov); }
/* Add disabled color, so we can style the text */
.button:disabled { color: darkgrey; }
/* Banner related things for a static banner/menu */
.sticky { z-index: 3; position: fixed; top: 0.1em; width: 99.4%; padding-top: 0; }