<div id="login-pop-in" class="modal-container">
    <div class="modal-content-container">

        <div class="modal-header">  
            <h1 class="modal-header-text"> Account Login </h1>
            <a class="modal-header-close" href="/">&times;</a>
        </div>

        <div class="modal-body">
            <form class="modal-form" id="login-form" method="post">
                <label class="modal-form-label">
                    <input type="text" class="modal-form-input" name="accountCred" placeholder="" autocomplete="on" required>
                    <span class="modal-form-span"> E-Mail of Account Naam </span>
                </label>
                <label class="modal-form-label">
                    <input type="password" class="modal-form-input" name="wachtwoord" placeholder="" autocomplete="on" required>
                    <span class="modal-form-span"> Wachtwoord </span>
                </label>
                <input class="modal-form-button" type="submit" value="Login" formaction="/login">
                <a class="modal-form-link" id="reset-link" href="#ww-reset-pop-in" style="display:none"> Wachtwoord Reset </a>
            </form>
        </div>
        
    </div>
</div>