      <!-- Wachtwoord Reset Pop-In -->
      <div id="ww-reset-pop-in" class="modal-container">
        <div class="modal-content-container">
        
          <div class="modal-header">  
            <h1 class="modal-header-text"> Wachtwoord Reset </h1>
            <a class="modal-header-close" onclick="popInClose()">&times;</a>
          </div>
          
          <div class="modal-body">
            <form class="modal-form" id="ww-reset-form" >
              <input type="email" class="modal-form-email" id="emailField" name="email" placeholder="E-mail" autocomplete="on" required>
              <input type="password" class="modal-form-wachtwoord" id="resetVeld1" name="wachtwoord1" placeholder="Nieuw Wachtwoord" autocomplete="on" required>
              <input type="password" class="modal-form-wachtwoord" id="resetVeld2" name="wachtwoord2" placeholder="Wachtwoord Bevestigen" autocomplete="on" required>
              <input class="modal-form-button" id="reset-submit" type="submit" value="Bevestigen" onclick="aResetBev(event)">
            </form>
          </div>
        </div>
      </div>