<div id="serieb-pop-in" class="modal-container">
    <div class="modal-content-container">
          
        <div class="modal-header">  
            <h1 class="modal-header-text"> Serie Bewerken </h1>
            <form class="modal-header-close-form" method="post" action="/beheer" >
                <input class="modal-header-input" name="close-pop-in" value="" hidden/>
                <input class="modal-header-close" type="submit" value="&times;" />
            </form>
        </div>
          
        <div class="modal-body">
            <form class="modal-form" id="serieb-form">
                <label class="modal-form-label">
                    <input type="text" class="modal-form-input" id="serieb-form-serieNaam" name="naam" placeholder="" autocomplete="on" required />
                    <span class="modal-form-span"> Serie Naam </span>
                </label>
                <input type="text" class="modal-form-input" id="serieb-form-index" name="index" value="" hidden />
                <label class="modal-form-label">
                    <input type="text" class="modal-form-input" id="serieb-form-makers" name="makers" placeholder="" autocomplete="on" />
                    <span class="modal-form-span"> Makers/Artiesten </span>
                </label>
                <label class="modal-form-label">
                    <input type="text" class="modal-form-input" id="serieb-form-opmerking" name="opmerking" placeholder="" autocomplete="on" />
                    <span class="modal-form-span"> Opmerking/Notitie </span>
                </label>
                <input class="modal-form-button" id="serieb-form-button" type="submit" value="Bevestigen" onclick="serieBewSubm(event)"/>
            </form>
        </div>

    </div>
</div>