<div id="albumb-pop-in" class="modal-container">
    <div class="modal-content-container">

        <div class="modal-header">  
            <h1 class="modal-header-text"> Album Bewerken </h1>
            <form class="modal-header-close-form" method="post" action="/beheer" >
                <input class="modal-header-input" name="close-pop-in" value="" hidden/>
                <input class="modal-header-close" type="submit" value="&times;" />
            </form>
        </div>

        <div class="modal-body">
            <form class="modal-form" id="albumb-form" enctype="multipart/form-data">
                <input type="text" class="modal-form-indexT" id="albumb-form-indexT" name="album-index" hidden />
                <label class="modal-form-label">
                    <input type="text" class="modal-form-input" id="albumb-form-alb-naam" name="album-naam" placeholder="" autocomplete="on" required />
                    <span class="modal-form-span"> Album Naam </span>
                </label>
                <label class="modal-form-label">
                    <input type="number" min="0" class="modal-form-input" id="albumb-form-alb-nr" name="album-nummer" placeholder="" autocomplete="on" />
                    <span class="modal-form-span"> Album Uitgave Nummer </span>
                </label>
                <label class="modal-form-label">
                    <input type="date" class="modal-form-input" id="albumb-form-alb-date" name="album-datum" placeholder="" autocomplete="on" />
                    <span class="modal-form-span"> Album Uitgave Datum </span>
                </label>
                <div class="modal-album-cover" id="albumb-cover"> </div>
                <label class="modal-form-alb-cov-lab" id="modal-form-albumB-cov-lab" for="albumb-form-alb-cov">
                    <input type="file" accept="jpg, png, jpeg, gif" class="modal-form-input" id="albumb-form-alb-cov" name="album-cover" />
                </label>
                <label class="modal-form-label">
                    <input class="modal-form-input" id="albumb-form-alb-isbn" name="album-isbn" placeholder="" autocomplete="on" required />
                    <span class="modal-form-span"> Album ISBN </span>
                </label>
                <!--<label class="modal-form-label"> -->
                    <input class="modal-form-input" id="albumb-form-alb-opm" name="album-opm" placeholder="" autocomplete="on" hidden />
                    <!--<span class="modal-form-span" hidden> Album Opmerking </span> -->
                <!--</label> -->
                <input class="modal-form-button" id="albumb-form-button" type="submit" value="Bevestigen" onclick="albumBewSubm(event)" />
            </form>
        </div>

    </div>
</div>