  <!-- gebruikers overeenkomst pop-in -->
  <div id="gebr-overeenkomst" class="modal-container">
    <div class="modal-content-container">
      
      <div class="modal-header">  
        <h1 class="modal-header-text-overk"> Gebruikers Overeenkomst </h1>
      </div>
      
      <div class="modal-body">
        <p class="modal-para-1">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
          Duis vulputate commodo lectus, ac blandit elit tincidunt id.
        </p>
        <ol class="modal-ord-list">
          <li class="modal-list-i1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
            Duis vulputate commodo lectus, ac blandit elit tincidunt id.
          </li>
          <li class="modal-list-i2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
            Duis vulputate commodo lectus, ac blandit elit tincidunt id.
          </li>
          <li class="modal-list-i3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
            Duis vulputate commodo lectus, ac blandit elit tincidunt id.
          </li>
        </ol>
        <div class="butt-box">
          <a class="modal-gebr-ov-button" href="#account-maken-pop-in"> Terug </a>
        </div>
      </div>

    </div>
  </div>