<div id="login-pop-in" class="modal-cont" >

    <div class="modal-content-cont" id="modal-content-cont" >

        <div class="modal-header-cont" id="modal-header-cont" >  

            <h3 class="modal-header-text" id="modal-header-text" > Account Login </h3>

            <a class="modal-header-close" id="modal-header-close" href="/" > &times; </a>

        </div>

        <div class="modal-body" id="modal-body" >

            <form class="modal-form" id="login-form" method="post" >

                <label class="modal-form-label" id="modal-form-label" >
                    <input type="text" class="modal-form-input" name="accountCred" placeholder="" autocomplete="on" required >
                    <span class="modal-form-span" id="modal-form-span" > E-Mail of Account Naam </span>
                </label>

                <label class="modal-form-label" id="modal-form-label" >
                    <input type="password" class="modal-form-input" name="wachtwoord" placeholder="" autocomplete="on" required >
                    <span class="modal-form-span" id="modal-form-span" > Wachtwoord </span>
                </label>

                <div class="butt-box" id="butt-box" >
                    <input class="modal-form-button button" id="modal-form-button" type="submit" value="Login" formaction="/login" >
                    <a class="modal-form-link" id="reset-link" href="#ww-reset-pop-in" style="display:none" > Wachtwoord Reset </a>
                </div>

            </form>

        </div>

    </div>

</div>