        <div id="gebr-overeenkomst" class="modal-cont">

            <div class="modal-content-cont" id="modal-content-cont">

                <div class="modal-header-cont" id="modal-header-cont">

                    <h3 class="modal-header-text" id="modal-header-text" > Gebruikers Overeenkomst </h3>

                    <a class="modal-header-close" id="modal-header-close" href="/" > &times; </a>

                </div>

                <div class="modal-body" id="modal-user-body" >

                    <p class="modal-para-1" id="gebr-overeenk" >
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
                        Duis vulputate commodo lectus, ac blandit elit tincidunt id.
                    </p>

                    <ol class="modal-ord-list" id="gebr-overeenk-ol" >

                        <li class="modal-list-i1" id="gebr-overeenk-li1" >
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
                            Duis vulputate commodo lectus, ac blandit elit tincidunt id.
                        </li>

                        <li class="modal-list-i2" id="gebr-overeenk-li2" >
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
                            Duis vulputate commodo lectus, ac blandit elit tincidunt id.
                        </li>

                        <li class="modal-list-i3" id="gebr-overeenk-li3" >
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
                            Duis vulputate commodo lectus, ac blandit elit tincidunt id.
                        </li>

                    </ol>

                    <div class="butt-box" id="butt-box" >

                        <a class="modal-gebr-ov-button button" id="modal-gebr-ov-button" href="#account-maken-pop-in" > Terug </a>

                    </div>

                </div>

            </div>
            
        </div>