<div id="ww-reset-pop-in" class="modal-cont" >
    
    <div class="modal-content-cont" id="modal-content-cont" >

        <div class="modal-header-cont" id="modal-header-cont" >

            <h3 class="modal-header-text" id="modal-header-text" > Wachtwoord Reset </h3>

            <a class="modal-header-close" id="modal-header-close" href="#login-pop-in" > &times; </a>

        </div>

        <div class="modal-body" id="modal-body" >

            <p class="modal-body-p" id="modal-body-p" >
                Normaal gesproken, zou hier een e-mail systeem achter zitten, die via tokens een tijdelijke wachtwoord reset mogelijk maakt. <br><br>
                Echter is dit voor de scope van dit project wat overdreven, mocht je echt je wachtwoord zijn vergeten, kan de admin/beheerder die veranderen. <br><br>
                In de bijbehorende documentatie, staat vermeld hoe je een admin wachtwoord kan resetten, mocht je die ook zijn vergeten/verloren.
            </p>

        </div>

    </div>

</div>