<!-- Controller Template:
        A simple clean template, that i re-use in various itterations.
        The nested input and span, inside the label, is used to create placeholder text for the input.
        And goes hand in hand with css code, that moves the text above the input, when the input is in focus.
        The same 'trick' is used for the modal pop-ins.
  -->
<form class="" id="" method="" action="" >

    <label for="" class="" >  </label>

    <label class="" >
        <input class="" id="" type="" name="" placeholder="" autocomplete="" required />
        <span class="" > placeholder </span>
    </label>

    <input class="" id="" type="" value="" />

</form>