<!--
    At the moment, this part of the project is delayed, and might even be canceled.
    I might still end up doing this, but right now the app is very useable on mobile devices.
    Its really only for admins, that seeing the extra data can be relevant, the user can only add/remove to/from collections.

    I am keeping this here, incase the 'client' wants something different.
-->

<!-- Main trigger via id, and black background -->
<div id="more-info-album" class="modal-info-popin" >

    <!-- Main pop-in body -->
    <div class="modal-info-body" id="modal-info-body" >

        <!-- Pop-in Header -->
        <div class="modal-info-header" id="modal-info-header" >

            <!-- Container for the title header -->
            <div class="header-title" id="header-title" >
                <h3> Album Name goes </h3>
            </div>

            <!-- Container for the header close button -->
            <div class="header-buttons" id="header-buttons" >

                <form class="modal-header-close-form" id="close-info-form" method="post" action="/gebruik" >

                    <input class="modal-header-input" id="close-info-inp" name="close-pop-in" value="" hidden/>
                    <input class="modal-header-close" id="close-info-butt" type="submit" value="&times;" />

                </form>

            </div>

        </div>

        <!-- Pop-in Content (example is for series) -->
        <div class="modal-info-content" id="modal-info-content" >

            <div class="first-data-set">
                <div class="first-data-name" id="first-data-name" > Uitgave Nummer </div>
                <div class="first-data-val" id="first-data-val" > 180 </div>
            </div>

            <div class="second-data-set"> 
                <div class="second-data-name" id="second-data-name" > Album Cover </div>
                <div class="second-data-val" id="second-data-val" >
                    <img class="album-info-cover" id="album-info-cover" source="" >
                </div>
            </div>

            <div class="third-data-set">
                <div class="third-data-name" id="second-data-name" > Album ISBN </div>
                <div class="third-data-val" id="second-data-val" > 0123456789 </div>
            </div>

            <div class="fourth-data-set">
                <div class="fourth-data-name" id="second-data-name" > Album Opmerking </div>
                <div class="fourth-data-val" id="second-data-val" > Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias fugiat perferendis autem fuga! </div>
            </div>
        </div>

    </div>

</div>