<!-- Main page layout template:
        To make designs for mobile and lower resolutions easier, i use this main layout across all pages.
        The main body is flexible, to ensure it scales better on most devices.
        All other content is done via grids/sub-grids, so you can easily align things vertically or horizontally depending on the screen size.
-->
<!DOCTYPE html>

<html>

	<head> </head>

	<!-- Main Content-->
	<body class="main-flex" id="main-flex" >

        <!-- Enable JS message for those that have scripts disabled -->
        <noscript> You need to enable JavaScript to run this app. </noscript>

        <!-- User feedback template goes below this line -->

        <!-- Banner templates -->
        <div class="sub-grid-1" id="sub-grid-1" >

			<!-- Grid area for the buttons -->
			<div class="banner-butt" id="banner-butt" > </div>

            <!-- Grid area for the header -->
			<div class="banner-head" id="banner-head" > </div>

        </div>

		<!-- Fist Content Templates -->
		<div class="sub-grid-2" id="sub-grid-2" >

            <!-- 1st controller content -->
			<div class="contr-cont-1" id="contr-cont-1" > </div>

            <!-- 2nd controller content -->
			<div class="contr-cont-2" id="contr-cont-2" > </div>

			<!-- 3rd controller content -->
			<div class="contr-cont-3" id="contr-cont-3" > </div>

        </div>

		<!-- Second Content Template -->
		<div class="sub-grid-3" id="sub-grid-3" >

            <!-- Table header container-->
            <div class="table-header" id="table-header" > </div>

            <!-- Table template container -->
            <div class="table-templ" id="table-templ" > </div>

        </div>

        <!-- Pop-in content goes below this line -->

		<!-- Footer Container -->
		<footer class="sub-grid-4" id="sub-grid-4" >

            <div class="footer-info-1" id="footer-info-1" > </div>

            <div class="footer-info-2" id="footer-info-2" > </div>

            <div class="footer-info-3" id="footer-info-3" > </div>

        </footer>

    </body>

</html>