<!-- Main trigger via id, and black background -->
<div id="more-info-series" class="modal-info-popin" >

    <!-- Main pop-in body -->
    <div class="modal-info-body" id="modal-info-body" >

        <!-- Pop-in Header -->
        <div class="modal-info-header" id="modal-info-header" >

            <!-- Container for the title header -->
            <div class="header-title" id="header-title" >
                <h3> Album or Serie Name goes here </h3>
            </div>

            <!-- Container for the header close button -->
            <div class="header-buttons" id="header-buttons" >

                <form class="" id="" method="" action="" >

                    <input class="" id="" name="" value="" hidden/>
                    <input class="" id="" type="" value="&times;" />

                </form>

            </div>

        </div>

        <!-- Pop-in Content (example is for series) -->
        <div class="modal-info-content" id="modal-info-content" >
            <form class="" id="" method="" action="" >
                <input />
                <input />
                <input />
                <input />
                <input />
                <input />
            </form>
        </div>

    </div>

</div>