                <form class="contr-serie-form" id="serie-maken-form" method="post" action="/beheer">

                    <label for="serie-maken-inp" class="contr-serie-lab"> Serie Maken: </label>

                    <label class="contr-serie-lab-inp">
                        <input class="contr-serie-inp" id="serie-maken-inp" type="text" name="newSerName" placeholder="" autocomplete="on" required/>
                        <span class="contr-serie-span"> Serie Naam </span>
                    </label>

                    <input class="contr-serie-butt button" id="serie-maken-subm" type="submit" value="Bevestigen" />

                </form>